:root{
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 45%);
--blue: hsl(248, 32%, 49%);
--dark-grayish: hsl(249, 10%, 26%); 
--grayish-blue: hsl(246, 25%, 77%);
font-size: 62.5%;
--padx: 4rem;
--heading: clamp(3.2rem, 7vw + 1rem, 4.9rem);
--body: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
body{
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: var(--red);
  background-image: url(/images/bg-intro-desktop.png);
}
main{
  margin-inline: auto;
  max-width: 119em;
  min-height: 100vh;
  padding: 8rem var(--padx);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4em;
  box-sizing: border-box;
}
.hero {
  color: white;
}
.hero h1{
  max-width: 15ch;
  font-size: var(--heading);
  line-height: 110%;
  margin: 0 0 3rem;
}
.hero p{
  line-height: 160%;
  max-width: 50ch;
  font-size: var(--body);
}
.signup_form{
  width: clamp(33em, 60%, 54em);
}
.signup_form > p{
  margin-top: 0;
  padding: 2rem 3rem;
  text-align: center;
  font-size: var(--body);
  background-color: var(--blue);
  margin-bottom: 2.4rem;
  color: white;
}
:is(form, form input, form button, .signup_form > p){
  border-radius: .7rem;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: white;
  padding: 4rem;
}
form :is(input, button){
  height: 5.1rem;
  padding: 0 1rem;
  border: 1px solid var(--grayish-blue);
  font-weight: bold;
}
.submit{
  color: white;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.submit:hover{
  background-color: hsl(154, 59%, 40%);
}
.submit:active{
  background-color: hsl(154, 59%, 50%);
}
form input:focus{
  outline: none;
}
form input[data-valid="true"]{
  border-color: var(--green);
}
form input[data-valid="false"]{
  border-color: red;
}
.terms{
  color: var(--grayish-blue);
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}
.terms span{
  font-weight: bold;
  color: var(--red);
  cursor: pointer;
}
@media screen and (max-width: 50em){
  :root{
    --padx: 2rem;
  }
  main{
    flex-direction: column;
    text-align: center;
  }
  .hero {
    flex: revert;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  form{
    padding: 3rem;
  }
}